Screen {
    overflow: auto;
}

#tableau {    
    layout: grid;
    grid-size: 13;
    grid-gutter: 1 2;
    grid-columns: 1fr;
    grid-rows: 1fr 1fr 1fr 1fr;
    margin: 1 2;
}

Button {
    width: 50%;
    height: 100%;
}

#topbar {
    column-span: 13;
    min-height: 10;
    height: 10;
}
#midbar {
    column-span: 13;
    min-height: 10;
    height: 10;
}

#leftspace {
    column-span: 3;
}
#rightspace {
    column-span: 4;
}

#card0 {
   column-span:2
}

#card1 {
   column-span:2
}

#card2 {
   column-span:2
}
